body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  cursor: default;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1.5rem;
}
.header__content {
  background-color: rgb(222, 225, 243);
}

.logo__text {
  text-align: center;
  background-color: #94d9d0;
  width: auto;
  display: inline-block;
  text-transform: uppercase;
  padding: 1.7rem 6rem;
}
.logo__text--primary, .logo__text--secondary {
  display: block;
}
.logo__text--secondary {
  margin-top: 0.5rem;
}

.nav__menu {
  text-align: center;
  font-size: 1.3rem;
  background-color: rgb(222, 225, 243);
}
.nav__item {
  display: inline-block;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  color: black;
}
.nav__item:hover {
  background-color: lightsalmon;
  transition: 0.3s;
  border-radius: 4px;
  cursor: pointer;
}
.nav__item--active {
  background-color: #94d9d0;
  border-radius: 4px;
}
.nav__link {
  text-decoration: none;
  color: #333;
}

.main__content {
  width: 70%;
  float: left;
  padding: 20px;
}

.recipe {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  max-width: 1250px;
  width: 1250px;
}
.recipe__title {
  margin-top: 0;
  color: #4a4a4a;
}
.recipe__title--highlighted {
  background-color: #94d9d0;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  width: 27%;
  box-sizing: border-box;
  padding: 0.3rem;
}
.recipe__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
}
.recipe__image {
  max-width: 40%;
  height: auto;
  border-radius: 5px;
  width: 15rem;
  height: 10rem;
}
.recipe__text {
  flex: 1;
  position: relative;
}
.recipe__description {
  margin-top: 0;
  color: #666;
  line-height: 1.6;
}
.recipe__description:first-of-type {
  font-size: 1.2em;
  font-weight: bold;
}
.recipe__description::first-line {
  text-transform: uppercase;
  word-spacing: 1rem;
}
.recipe__description::first-letter {
  font-size: 2em;
  font-weight: bold;
  float: left;
  line-height: 0.8;
  margin-right: 0.1em;
}
.recipe__rating {
  color: #ffd700;
  font-size: 1.7em;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(0.6rem);
}

.sidebar {
  width: 25%;
  float: right;
  padding: 20px;
  max-width: 500px;
  width: 490px;
}
.sidebar__content {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 15px;
}
.sidebar__ad-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.sidebar-menu__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 32%;
  height: 1.5rem;
}
.sidebar-menu__item:hover {
  background-color: lightsalmon;
  transition: 0.3s;
  border-radius: 4px;
  cursor: pointer;
}
.sidebar-menu__item:first-child {
  width: 18.5%;
}
.sidebar-menu__icon {
  margin-right: 10px;
}
.sidebar-menu__text {
  margin: 0;
  color: #4a4a4a;
}
.sidebar-menu__text--active {
  background-color: #94d9d0;
  border-radius: 4px;
  width: 55%;
  height: auto;
}
.sidebar-menu__badge {
  background-color: #94d9d0;
  border-radius: 5px;
  color: white;
  padding: 2px 5px;
  font-size: 0.8em;
  margin-left: 5px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}
.footer__text {
  margin: 0;
  font-size: 14px;
}

.recipe-daily {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  max-width: 1250px;
  width: 1250px;
}
.recipe-daily__title {
  margin-top: 0;
  color: #4a4a4a;
  font-size: 32px;
  font-weight: bold;
  margin-left: 2rem;
}
.recipe-daily__content-info {
  display: flex;
  gap: 20px;
  width: auto;
  max-width: 1600px;
}
.recipe-daily__main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.recipe-daily__box {
  width: auto;
}
.recipe-daily__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 70%;
  padding-bottom: 0.7rem;
}
.recipe-daily__category {
  background-color: #b3e5fc;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}
.recipe-daily__details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
  margin-right: 1rem;
}
.recipe-daily__details .recipe-daily__ingredients ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.recipe-daily__details .recipe-daily__ingredients ul li {
  font-size: 16px;
  margin-bottom: 12px;
  color: #666;
  width: 20em;
}
.recipe-daily__image {
  width: 80%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px 0;
}
.recipe-daily__text-description {
  line-height: 2rem;
  color: #333;
}
.recipe-daily h3 {
  font-size: 1.7rem;
  letter-spacing: 0.4rem;
  margin-bottom: 10px;
  color: #333;
}/*# sourceMappingURL=main.css.map */